body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

.section { /*Modifica el estilo de la sección 1*/

    margin-bottom: 30px; /* Tamaño de los margenes*/
    padding: 20px; /* Espacio alrededor del elemento*/
    border: 2px solid #00f4bf; /* Color del borde*/
    font-size: 0.5cm; /* Tamaño de la letra*/
    background-color: rgb(195, 252, 233); /* Color del fondo de la sección*/

}
.section2 { /*Modifica el estilo de la sección 2*/

    margin-bottom: 30px; /* Tamaño de los margenes*/
    padding: 20px; /* Espacio alrededor del elemento*/
    border: 2px solid #d85dfa; /* Color del borde*/
    font-size: 0.5cm; /* Tamaño de la letra*/
    background-color: #ecb5fb; /* Color del fondo de la sección*/
}
.section3 { /*Modifica el estilo de la sección 3*/

    margin-bottom: 30px; /* Tamaño de los margenes*/
    padding: 20px; /* Espacio alrededor del elemento*/
    border: 2px solid #ffd557; /* Color del borde*/
    font-size: 0.5cm; /* Tamaño de la letra*/
    background-color: #f5e8c2; /* Color del fondo de la sección*/
}
.section4 { /*Modifica el estilo de la sección 4*/

    margin-bottom: 30px; /* Tamaño de los margenes*/
    padding: 20px; /* Espacio alrededor del elemento*/
    border: 2px solid #fa5d87; /* Color del borde*/
    font-size: 0.5cm; /* Tamaño de la letra*/
    background-color:#f3b6c6; /* Color del fondo de la sección*/
}


/* Agrega los estilos para las diferentes unidades de medida en cada sección */